@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Montserrat", Sans-serif;
}

.logo:before{
    content: "";
    z-index: -1;
    background: #fff;
    border-radius: 110px;
    width: 270px;
    height: 130px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logo:after{
    content: "";
    z-index: -1;
    background: #fff;
    border-radius: 110px;
    width: 100px;
    height: 130px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* .overlay-div:before {
    content: "";
    background: #000;
    position: absolute;
    width: 100%;
    height: 300%;
    opacity: .2;
    transform: rotate(-49deg);
    left: -186px;
} */
span.footer-icon {
    background: #8b0000;
    border-radius: 50%;
    padding: 15px;
}
.workingwithus{
  background-color: #fff0;
    background-image: linear-gradient(180deg, #0D1928 0%, #75333d 100%);
}